body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
 
/* header section starts */
.navbar {
  background-color: #f2f5f6;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.logo img{
  width: 170px
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;

}
.menu {
  display: flex;
  gap: 40px;
  font-size: 16px;
  font-weight: 800;
  color: rgba(4, 58, 83, 1);
  opacity: 70%;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: 0.3s;
}

.menu a:hover {
  color: #007bff;
}

.button-container {
  display: flex;
  gap: 15px;
  width: 190px;
}

.login-btn {
  background-color: #fff;
  border: none;
  height: 50px;
  width: 92px;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 42px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #d3d3d3;
}

.signup-btn {
  background-color: rgba(4, 58, 83, 1);
  color: white;
  height: 50px;
  width: 100px;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 42px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: white;
  color: gray;
  border: 2px solid gray;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: rgb(239, 10, 10);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  border-radius: 5px;
  padding: 10px;
}

.mobile-menu a {
  padding: 10px;
  text-decoration: none;
  color: #333;
  display: block;
  transition: 0.3s;
}

.mobile-menu a:hover {
  background-color: #007bff;
  color: white;
}
/* header section ends */

/* hero-section starts */
.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 100px 0px;
  background-color: #f2f5f6;
}

.left-icons,
.right-icons {
  display: flex;
  justify-content: center;
}

.content {
  text-align: center;
  max-width: 780px;
}

.content h1 {
  font-weight: 700;
  line-height: 1;
  font-size: 52px;
}
.high-potential {
  color: #012e52;
}

.trustco {
  color: #023e73;
}

.content p {
  font-size: 20px;
  margin: 10px 0px;
  color: rgba(18, 20, 29, 1);
}

.actions {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.get-started-button {
  background-color: rgba(4, 58, 83, 1);
  color: white;
  text-transform: none;
  font-size: 18px;
  font-weight: 700;
  border-radius: 55px;
  height: 55px;
  width: 165px;
  cursor: pointer;
  margin-right: 40px;
}

.check-video-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.check-video-box span {
  color: #004a7c;
  font-size: 20px;
  font-weight: 550;
}
/* hero-section ends */

/* brand-section starts */
.brand-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 100px;
}

.brand-text {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.brand-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px; 
}
/* brand-section ends */

/* video-section starts */
.video-section {
  background-color: rgba(4, 58, 83, 1);
  color: #fff;
  padding: 50px 20px;
  max-height: 944px;
}


.video-text {
  margin: 0 auto 30px auto; 
  display: flex;
  justify-content: space-around;
}

.video-text h1 {
  font-size: 50px;
  font-weight: bold;
  max-width: 500px;
  margin: 0 auto;
}

.video-text h1 span {
  color: rgba(240, 183, 63, 1);
}

.video-text p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 400px;
  margin: 20px auto;
}

.video-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-btn:hover {
  cursor: pointer;
}

.video-img img {
  max-height: 636px;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
}
.play-btn img {
  width: 35%;
  height: 35%;
}

/* video-section ends */

/* benefits section starts */
.benefits-section{
  display: flex;
  justify-content: space-between;
  padding: 100px 150px;
  gap: 40px;
}
.badge {
  background-color: rgba(4, 58, 83, 1);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  width: 125px;
  height: 43px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
 
}
.benefits-text{
  width: 226px;
}
.benefits-text h1{
  font-size: 60px;
  font-weight: 700;
}
.benefits-text p{
  font-size: 20px;
  font-weight: 400;
  color: rgba(18, 20, 29, 1);
}
.benefits-cards{
  max-width: 820px;
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.b-cards{
  background-color: rgba(242, 245, 246, 1);
  width: 262px;
  padding: 32px 24px;
  border-radius: 16px;
 }

.b-cards-texts h4{
  font-size: 24px;
  font-weight: 700;
  color: rgba(18, 20, 29, 1);
}
.b-cards-texts p{
  font-size: 18px;
  font-weight: 400;
  color: rgba(64, 64, 64, 1);
}
/* benefits section ends */

/* building-bridges section */
.bulding-bridges{
  display: flex;
  justify-content: space-between;
  padding-right:150px ;
}
.left-img img{
  height: 700px;
}

.bridges-text h1{
   font-size: 60px;
   color: rgba(18, 20, 29, 1);
}
.bridges-text span{
  color: rgba(146, 167, 176, 1)
}
.bridges-text p{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  gap: 32px;
}
.styled-button {
  height: 64px;
  width: 205px;
  background-color: rgba(4, 58, 83, 1);
  color: #fff;
  border-radius: 55px;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
margin-top: 20px;
}
.arrow {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: rgb(23, 85, 113);
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow img {
  width: 20px;
  height: 20px;
}

@media (max-width: 480px) {
   .menu{
    display: none;
   }
   .button-container{
    display: none;
   }
   .menu-icon{
    display: block;
   }
  .hero-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 10px;
  }
  .check-video-box {
    margin-bottom: 50px;
  }
  .content {
    order: 0;
  }

  .left-icons,
  .right-icons {
    order: 1;
    display: flex;
    flex-direction: row;
  }

  .actions {
    flex-direction: column;
    align-items: center;
  }

  .content p {
    margin: 25px;
  }

  .content h1 {
    text-align: center;
    font-size: 36px;
    padding: 10px;
  }

  .get-started-button {
    width: 45%;
    height: 80px;
    font-size: 20px;
    margin: 10px 10px 30px 10px;
  }

  .brand-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .brand-text {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin: 20px;
    padding: 40px;
  }
  
  .brand-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px; 
    padding: 10px 40px;
  }
  .video-section {
    text-align: center;
    max-height: unset;
  }

  .video-text {
    display: block;
    text-align:left;
  }

  .video-text h1 {
    font-size: 36px;
  }

  .video-text p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .video-img img {
    height: auto;
    max-width: 100%;
  }
   
  .play-btn {
    width: 40px;
    height: 40px;
  }
 /* benefits section */
 .benefits-section{
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .benefits-text{
  width: 330px;
  text-align: center;

 }
 .benefits-text h1{
  font-size: 30px;
 }
 .benefits-text p{
  font-size: 14px;
 }
 .benefits-cards{
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .badge{
  margin: auto;
 }
 /* building bridges section */
 .bulding-bridges{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 0px;

 }
 .bridges-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .bridges-text h1{
  font-size: 40px;
  text-align: center;
 }
 .bridges-text p{
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 12px;
 }
 .styled-button{
  margin: 20px 10px;
 }
 .left-img img{
  margin-top: 20px;
  height: 368px;
 }
}
