body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 100px 120px;
  background-color: #f2f5f6;
  position: relative;
}

.left-icons,
.right-icons {
  display: flex;
  justify-content: center;
}

.content {
  text-align: center;
  max-width: 700px;
}

.content h1 {
  font-weight: 700;
  line-height: 1;
  font-size: 52px;
}

.high-potential {
  color: #012e52;
}

.trustco {
  color: #023e73;
}

.content p {
  font-size: 20px;
  margin: 10px 0px;
  color: rgba(18, 20, 29, 1);
}

.actions {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.get-started-button {
  background-color: rgba(4, 58, 83, 1);
  color: white;
  text-transform: none;
  font-size: 18px;
  font-weight: 700;
  border-radius: 55px;
  height: 55px;
  width: 165px;
  padding: 15px 30px;
  cursor: pointer;
  margin-right: 40px;
}

.check-video-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.check-video-box span {
  color: #004a7c;
  font-size: 20px;
  font-weight: 550;
}
@media (max-width: 768px) {
    .hero-section {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 40px 10px;
    }
    .check-video-box {
        margin-bottom: 50px;
    }
    .content {
      order: 0; 
    }
  
    .left-icons,
    .right-icons {
      order: 1; 
      display: flex; 
   
      flex-direction: row;
     
    }
  
    .actions {
      flex-direction: column;
      align-items: center;
    }
  
    .content p {
      margin: 25px;
    }
  
    .content h1 {
      text-align: center;
      font-size: 36px;
      padding: 10px;
    }
  
    .get-started-button {
      width: 45%;
      height: 80px;
      font-size: 20px;
      margin: 10px 10px 30px 10px;
    }
}

.brand-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 150px;
}

.brand-text {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.brand-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;

}
.brand-logos img {
    color: red;
}

